<div class="container">


  <div class="header">
    <div>Mint NFT</div>
    <div>
      <img src="../assets/mint.svg" class="header-img">
    </div>
  </div>

  <div class="title">Mint NFT</div>

  <div class="instructions">This will mint an NFT directly onto zkSync's L2. Fill in your NFT's information, and then click the Mint NFT button. It will then prompt you to sign a message with your wallet, and then mint your NFT.</div>

  <div class="form">
    <div class="form-title">Name</div>
    <div class="helper-text">The name to refer to your NFT.</div>
    <input type="text" [(ngModel)]="name" placeholder="Item Name">
  </div>

  <div class="form">
    <div class="form-title">Image URL</div>
    <div class="helper-text">An external link to an image for your NFT.</div>
    <input type="text" [(ngModel)]="image" placeholder="example.com/example.png">
    <div class="preview-image-holder" *ngIf="!isPlaceholder()">
      <img class="preview-image" src="{{image}}">
    </div>
    <div class="preview-image-holder" *ngIf="isPlaceholder()">
      <img class="preview-image" src="https://i.imgur.com/nwZRdjr.png">
    </div>
  </div>

  <div class="form">
    <div class="form-title">Description</div>
    <div class="helper-text">A longer description for your NFT.</div>
    <textarea name="message" [(ngModel)]="description" placeholder="More information about your NFT."></textarea>
  </div>

  <div class="form">
    <div class="form-title">External URL</div>
    <div class="helper-text">An external link related to your NFT.</div>
    <input type="text" [(ngModel)]="externalURL" placeholder="example.com">
  </div>

  <div *ngIf="isLoading" class="load-holder">
    <div class="loader"></div><span> &nbsp; {{loadingMessage}}...</span>
  </div>

  <div>
    <button (click)="mintNFT()" class="mint-button">Mint NFT</button>
  </div>
</div>