<div class="container">


  <div class="header">
    <div>Mint NFT</div>
    <div>
      <img src="../assets/mint.svg" class="header-img">
    </div>
  </div>

  <div class="instructions">This will mint an NFT directly onto zkSync's L2! Note NFTs on zkSync are a little different from Ethereum mainnet. (More details <a href="" target="_blank">here</a>). <b>The biggest difference for you as an end user is that you will have to wait a few hours before you can transfer your zkNFT.</b></div>

  <div class="form">
    <div class="form-title">Name</div>
    <div class="helper-text">The name to refer to your NFT.</div>
    <input type="text" [(ngModel)]="name" placeholder="Item Name">
  </div>

  <div class="form">
    <div class="form-title">Upload Image</div>
    <div class="helper-text">An image for your NFT.</div>
    <input type="file" accept="image/*" (change)="uploadImage($event.target.files)">
    <div class="preview-image-holder">
      <img class="preview-image" [src]="imageURL">
    </div>
  </div>

  <div class="form">
    <div class="form-title">Description</div>
    <div class="helper-text">A longer description for your NFT.</div>
    <textarea name="message" [(ngModel)]="description" placeholder="More information about your NFT."></textarea>
  </div>

  <div class="form">
    <div class="form-title">External URL</div>
    <div class="helper-text">An external link related to your NFT.</div>
    <input type="text" [(ngModel)]="externalURL" placeholder="https://example.com">
  </div>

  <div *ngIf="isLoading" class="load-holder">
    <div class="loader"></div><span> &nbsp; {{loadingMessage}}...</span>
  </div>

  <div>
    <button (click)="mintNFT()" class="mint-button">Mint NFT</button>
  </div>
</div>